# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/dictionaries/
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/node_mongodb.iml
.idea/watcherTasks.xml
.idea/workspace.xml
node_modules/
